<h1>Newest</h1>

<table>
  <tr>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mojis.each do |moji| %>
  <tr>
    <td><%= link_to moji.content, moji %></td>
    <td><b>created by:</b><%= link_to moji.user.username, "/users/#{moji.user.id}" %></b></td>
    <td><%= display_avatar moji.user %></td>
    <td><%= "#{time_ago_in_words(moji.created_at)} #{t(:ago)}"  %></td>
  </tr>
<% end %>
</table>

<br />
